@model TaskManager.Models.TaskLog

@{
    ViewData["Title"] = "Szczegóły logów zadań";
}

<h1>Szczegóły logów zadań</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @(Model.User?.GetFullName() ?? "Niewiadomy użytkownik")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskPriority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-10">
            @(Model.Group?.Name ?? Model.GroupName ?? "Brak grupy")
        </dd>
        <dt class="col-sm-2">
            Assigned User
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.AssignedUserFirstName) || !string.IsNullOrEmpty(Model.AssignedUserLastName))
            {
                @($"{Model.AssignedUserFirstName} {Model.AssignedUserLastName}".Trim())
            }
            else
            {
                <span class="text-muted">Nie przepisano</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót do menu</a>
</div>
