@model IEnumerable<TaskManager.Models.TaskLog>

@{
    ViewData["Title"] = "Logi zadań";
}

<h1>Logi zadań</h1>

<div class="card">
    <div class="card-body">
        @if (Model.Any())
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Typ</th>
                        <th>Nazwa</th>
                        <th>Grupa</th>
                        <th>Akcja</th>
                        <th>Użtykownik</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td>@log.Action</td>
                            <td>
                                @if (log.TaskItem != null)
                                {
                                    <a asp-controller="TaskItems" asp-action="Details" asp-route-id="@log.TaskItemId">
                                        @log.TaskTitle
                                    </a>
                                }
                                else
                                {
                                    @log.TaskTitle
                                }
                            </td>
                            <td>
                                @if (log.Group != null)
                                {
                                    <a asp-controller="Groups" asp-action="Details" asp-route-id="@log.GroupId">
                                        @log.GroupName
                                    </a>
                                }
                                else
                                {
                                    <span class="text-muted">Brak grupy</span>
                                }
                            </td>
                            <td>@log.Description</td>
                            <td>@(log.User?.GetFullName() ?? "Nie znany użytkownik")</td>
                            <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@log.Id" class="btn btn-sm btn-info">
                                    Szczegóły
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <i class="bi bi-info-circle"></i> Brak logów
            </div>
        }
    </div>
</div>
